In [1]:
import numpy as np
import pandas as pd

# All question data

In [2]:
questions = pd.read_csv('../data/SQUAD_Data/v1.1/question_data/questions.csv')

In [3]:
questions.head()

,Question ID,Fold,Answer,Category,Text
0,3009,train,Henry IV of France,History,"With the assistence of his chief minister, the..."
1,200192,train,Great Famine (Ireland),History:Europe,"During this event, Charles Wood instructed Lor..."
2,205242,train,Mass spectrometry,Science:Chemistry,One form of this technique based off the cyclo...
3,202398,train,Ester,Science:Chemistry,A carbon alpha to two carbons with this functi...
4,111634,train,Tyr,Social_Science,"This god is sometimes called Thingsus, which r..."

In [4]:
questions.describe()

         Question ID
count   20407.000000
mean   115643.942030
std     74456.576812
min         1.000000
25%     13039.500000
50%    114433.000000
75%    193736.500000
max    212891.000000

In [5]:
questions.columns

Index(['Question ID', 'Fold', 'Answer', 'Category', 'Text'], dtype='object')

In [6]:
questions['Fold'].value_counts()

train    15667
test      2370
dev       2370
Name: Fold, dtype: int64

In [7]:
questions[questions['Question ID']==121407]

,Question ID,Fold,Answer,Category,Text
20393,121407,test,Dona Flor and Her Two Husbands,Literature,The second section of this novel opens with a ...

In [8]:
questions

,Question ID,Fold,Answer,Category,Text
0,3009,train,Henry IV of France,History,"With the assistence of his chief minister, the..."
1,200192,train,Great Famine (Ireland),History:Europe,"During this event, Charles Wood instructed Lor..."
2,205242,train,Mass spectrometry,Science:Chemistry,One form of this technique based off the cyclo...
3,202398,train,Ester,Science:Chemistry,A carbon alpha to two carbons with this functi...
4,111634,train,Tyr,Social_Science,"This god is sometimes called Thingsus, which r..."
5,189284,train,Johann Sebastian Bach,Fine_Arts,This composer was given the task of improvisin...
6,3873,train,Inca Empire,History,"Their gods included Illapa, the god of thunder..."
7,192507,train,Enthalpy,Science,This quantity remains constant in the Joule-Th...
8,13075,train,Jesus,Social_Science,One religion says that this figure was taken t...
9,107378,train,Gibbs free energy,Science:Chemistry,A Frost diagram plots oxidation state against ...
10,103377,train,Compton scattering,Science:Physics,Variables from the Kompaneets equation can be ...
11,205213,train,Gibbs free energy,Science:Chemistry,The partial derivative of this quantity over t...
12,193526,train,Charles Baudelaire,Literature,"This poet claimed """"Nature is a temple in whic..."
13,196064,train,Tax,History,An official called a defterdar was responsible...
14,190225,train,Phloem,Science,One of this tissue's two component cell types ...
15,3550,train,Lajos Kossuth,History,This man opposed the economics-first program a...
16,109216,train,The Magic Flute,Fine_Arts,The title of this opera comes from the subtitl...
17,197503,train,Francis Bacon,Social_Science,This thinker called for public funding of scie...
18,12430,train,Shiva,Social_Science,"He has a double, Aghora, who is sometimes repr..."
19,203022,train,Ireland,Literature:Europe,One poet from this country wrote an oriental r...
20,10643,train,Surface tension,Science:Physics,This phenomenon is the cause of Plateau-Raylei...
21,9312,train,Gibbs free energy,Science:Chemistry,Setting the partial derivative of this quantit...
22,101328,train,Candide,Literature,Act II of this play opens with one character t...
23,201795,train,Enigma Variations,Fine_Arts:Music,"During the initial rehearsal for this piece, t..."
24,194229,train,Allen Ginsberg,Literature,"In one poem, this author recalled throwing pot..."
25,871,train,Enigma Variations,Fine_Arts,While William Baker and August Jaeger are repr...
26,211302,train,Sikhism,Social_Science:Religion,Adherents of this religion greet each other wi...
27,202722,train,Moliere,Literature:Europe,"In one play by this author, the high-class Ang..."
28,115349,train,Netherlands,History,"During one invasion, this country transferred ..."
29,191316,train,Charlemagne,History,This ruler's campaign against the Saxons inclu...
...,...,...,...,...,...
20377,9390,test,Clausius-Clapeyron relation,Science:Chemistry,Data obtained from this equation can be correl...
20378,3289,test,War of the Austrian Succession,History,This war included the naval victory of Anson a...
20379,6190,test,The Leopard,Literature,"In the final episode of this novel, three of t..."
20380,4189,test,Chiang Kai-shek,History,After helping to overthrow two successive gove...
20381,13264,test,Peisistratos,Social_Science,"During this mans reign, he built a nine-spoute..."
20382,7067,test,Gabriela (telenovela),Literature,This novel's title character procures her job ...
20383,112949,test,Rastafari movement,Social_Science,of this movement's foundational texts conclude...
20384,121381,test,The Playboy of the Western World,Literature,Mustapha Matura wrote an adaptation of this pl...
20385,119715,test,Ohm's law,Science:Physics,"It is an example of linear response theory, an..."
20386,200275,test,Vertigo (film),Fine_Arts:Audiovisual,Chris Marker's theory that the second half of ...
20387,123282,test,Kentucky,Social_Science,major geological feature in this state is the ...
20388,108346,test,The Bronze Horseman (poem),Literature,The city in which this work is set is contrast...
20389,190747,test,Sphere,Science,Unit quaternions form the four dimensional ana...
20390,6301,test,Gulliver's Travels,Literature,In the publisher's note to this book he inform...
20391,109062,test,Thyroid,Science:Biology,This organ uses selenium as a cofactor in its ...
20392,1872,test,Quebec,History,As inspiration one commanding officer repeated...
20393,121407,test,Dona Flor and Her Two Husbands,Literature,The second section of this novel opens with a ...
20394,123358,test,Alexis de Tocqueville,Social_Science,"thinker wrote that ""knowledge of how to combin..."
20395,104903,test,Nicolas Sarkozy,History,He first rose to international prominence in 2...
20396,197112,test,Tree (graph theory),Literature,The B variety of this structure forms the back...
20397,122362,test,Kwame Nkrumah,History,This man's price controls caused his country t...
20398,117629,test,Thomas Robert Malthus,Social_Science,"In one work by this man, he defines the title ..."
20399,194120,test,The Lottery,Literature,"In this story, a man named Old Man Warner call..."
20400,109543,test,The Theory of the Leisure Class,Social_Science,This works sixth chapter argues that dogs are ...
20401,1128,test,Camille Saint-Saens,Fine_Arts,This composer had the violin play 2/4 against ...
20402,107436,test,Holden Caulfield,Literature,"The narrator of the story ""This Sandwich Has N..."
20403,111155,test,Kalidasa,Literature,"In one of this mans works, the titular heavenl..."
20404,101055,test,Doubting Thomas,Social_Science,"According to Bishop Eusebius of Caesarea, this..."
20405,197577,test,Isomer,Science,These compounds are described using the E-Z [...
20406,117642,test,Tlaloc,Social_Science,"He is the god associated with the Mazatl, or d..."

# JSON files (train & dev sets)

In [9]:
import json

In [10]:
dev = json.load(open('../data/SQUAD_Data/v1.1/dev-v1.1.json', 'rt'))
train = json.load(open('../data/SQUAD_Data/v1.1/train-v1.1.json', 'rt'))

### Data structure
* dev['data']: array of articles
* dev['data'][0]: 1 article
* dev['data'][0]['title']: title of the article
* dev['data'][0]['paragraphs']: list of paragraphs
* dev['data'][0]['paragraphs'][0]: 1 paragraph, including 2 keys: `context` & `qas`
* dev['data'][0]['paragraphs'][0]['context']: text content of the paragraph
* dev['data'][0]['paragraphs'][0]['qas']: list of question-answer sets on the pararaph
* dev['data'][0]['paragraphs'][0]['qas'][0]: 1 set of question-answer, including 3 keys: `answers`, `question` & `id`
* dev['data'][0]['paragraphs'][0]['qas'][0]['id']: ID of the question
* dev['data'][0]['paragraphs'][0]['qas'][0]['question']: question text
* dev['data'][0]['paragraphs'][0]['qas'][0]['answers']: list of 3 answers of the questions. Each answer consists of 2 keys: `answer_start` & `text`
* dev['data'][0]['paragraphs'][0]['qas'][0]['answers']['answer_start']: index of the start character of the answer text in the paragraph
* dev['data'][0]['paragraphs'][0]['qas'][0]['answers']['text']: the answer text

# Stats

### Num of articles

In [11]:
print('Num of train articles: {}'.format(len(train)))
print('Num of dev articles: {}'.format(len(dev)))

Num of train articles: 2
Num of dev articles: 2

### Num of paragraphs

In [12]:
def num_paragraphs(ds):
    return np.sum([len(article['paragraphs']) for article in ds['data']])

In [13]:
print('Num of train paragraphs: {:,}'.format(num_paragraphs(train)))
print('Num of dev paragraphs: {:,}'.format(num_paragraphs(dev)))

Num of train paragraphs: 18,896
Num of dev paragraphs: 2,067

### Num of questions

In [14]:
def num_questions(ds):
    return np.sum([len(para['qas']) for article in ds['data'] for para in article['paragraphs']])

print('Num of train questions: {:,}'.format(num_questions(train)))
print('Num of dev questions: {:,}'.format(num_questions(dev)))

Num of train questions: 87,599
Num of dev questions: 10,570

* `dev['data'][0]` corresponds to the article https://rajpurkar.github.io/SQuAD-explorer/explore/1.1/dev/Super_Bowl_50.html

# Samples

In [15]:
dev['data'][0].keys()

dict_keys(['title', 'paragraphs'])

In [16]:
len(dev['data'][0]['paragraphs'])

54

In [17]:
dev['data'][0]['paragraphs'][0]['context']

'Super Bowl 50 was an American football game to determine the champion of the National Football League (NFL) for the 2015 season. The American Football Conference (AFC) champion Denver Broncos defeated the National Football Conference (NFC) champion Carolina Panthers 24–10 to earn their third Super Bowl title. The game was played on February 7, 2016, at Levi\'s Stadium in the San Francisco Bay Area at Santa Clara, California. As this was the 50th Super Bowl, the league emphasized the "golden anniversary" with various gold-themed initiatives, as well as temporarily suspending the tradition of naming each Super Bowl game with Roman numerals (under which the game would have been known as "Super Bowl L"), so that the logo could prominently feature the Arabic numerals 50.'

In [18]:
len(dev['data'][0]['paragraphs'][0]['qas'])

30

In [19]:
dev['data'][0]['paragraphs'][0]['qas'][0].keys()

dict_keys(['answers', 'question', 'id'])

In [20]:
dev['data'][0]['paragraphs'][0]['qas']

[{'answers': [{'answer_start': 177, 'text': 'Denver Broncos'},
   {'answer_start': 177, 'text': 'Denver Broncos'},
   {'answer_start': 177, 'text': 'Denver Broncos'}],
  'question': 'Which NFL team represented the AFC at Super Bowl 50?',
  'id': '56be4db0acb8001400a502ec'},
 {'answers': [{'answer_start': 249, 'text': 'Carolina Panthers'},
   {'answer_start': 249, 'text': 'Carolina Panthers'},
   {'answer_start': 249, 'text': 'Carolina Panthers'}],
  'question': 'Which NFL team represented the NFC at Super Bowl 50?',
  'id': '56be4db0acb8001400a502ed'},
 {'answers': [{'answer_start': 403, 'text': 'Santa Clara, California'},
   {'answer_start': 355, 'text': "Levi's Stadium"},
   {'answer_start': 355,
    'text': "Levi's Stadium in the San Francisco Bay Area at Santa Clara, California."}],
  'question': 'Where did Super Bowl 50 take place?',
  'id': '56be4db0acb8001400a502ee'},
 {'answers': [{'answer_start': 177, 'text': 'Denver Broncos'},
   {'answer_start': 177, 'text': 'Denver Broncos'},
   {'answer_start': 177, 'text': 'Denver Broncos'}],
  'question': 'Which NFL team won Super Bowl 50?',
  'id': '56be4db0acb8001400a502ef'},
 {'answers': [{'answer_start': 488, 'text': 'gold'},
   {'answer_start': 488, 'text': 'gold'},
   {'answer_start': 521, 'text': 'gold'}],
  'question': 'What color was used to emphasize the 50th anniversary of the Super Bowl?',
  'id': '56be4db0acb8001400a502f0'},
 {'answers': [{'answer_start': 487, 'text': '"golden anniversary"'},
   {'answer_start': 521, 'text': 'gold-themed'},
   {'answer_start': 487, 'text': '"golden anniversary'}],
  'question': 'What was the theme of Super Bowl 50?',
  'id': '56be8e613aeaaa14008c90d1'},
 {'answers': [{'answer_start': 334, 'text': 'February 7, 2016'},
   {'answer_start': 334, 'text': 'February 7'},
   {'answer_start': 334, 'text': 'February 7, 2016'}],
  'question': 'What day was the game played on?',
  'id': '56be8e613aeaaa14008c90d2'},
 {'answers': [{'answer_start': 133, 'text': 'American Football Conference'},
   {'answer_start': 133, 'text': 'American Football Conference'},
   {'answer_start': 133, 'text': 'American Football Conference'}],
  'question': 'What is the AFC short for?',
  'id': '56be8e613aeaaa14008c90d3'},
 {'answers': [{'answer_start': 487, 'text': '"golden anniversary"'},
   {'answer_start': 521, 'text': 'gold-themed'},
   {'answer_start': 521, 'text': 'gold'}],
  'question': 'What was the theme of Super Bowl 50?',
  'id': '56bea9923aeaaa14008c91b9'},
 {'answers': [{'answer_start': 133, 'text': 'American Football Conference'},
   {'answer_start': 133, 'text': 'American Football Conference'},
   {'answer_start': 133, 'text': 'American Football Conference'}],
  'question': 'What does AFC stand for?',
  'id': '56bea9923aeaaa14008c91ba'},
 {'answers': [{'answer_start': 334, 'text': 'February 7, 2016'},
   {'answer_start': 334, 'text': 'February 7'},
   {'answer_start': 334, 'text': 'February 7, 2016'}],
  'question': 'What day was the Super Bowl played on?',
  'id': '56bea9923aeaaa14008c91bb'},
 {'answers': [{'answer_start': 177, 'text': 'Denver Broncos'},
   {'answer_start': 177, 'text': 'Denver Broncos'},
   {'answer_start': 177, 'text': 'Denver Broncos'}],
  'question': 'Who won Super Bowl 50?',
  'id': '56beace93aeaaa14008c91df'},
 {'answers': [{'answer_start': 355, 'text': "Levi's Stadium"},
   {'answer_start': 355, 'text': "Levi's Stadium"},
   {'answer_start': 355,
    'text': "Levi's Stadium in the San Francisco Bay Area at Santa Clara"}],
  'question': 'What venue did Super Bowl 50 take place in?',
  'id': '56beace93aeaaa14008c91e0'},
 {'answers': [{'answer_start': 403, 'text': 'Santa Clara'},
   {'answer_start': 403, 'text': 'Santa Clara'},
   {'answer_start': 403, 'text': 'Santa Clara'}],
  'question': 'What city did Super Bowl 50 take place in?',
  'id': '56beace93aeaaa14008c91e1'},
 {'answers': [{'answer_start': 693, 'text': 'Super Bowl L'},
   {'answer_start': 704, 'text': 'L'},
   {'answer_start': 693, 'text': 'Super Bowl L'}],
  'question': 'If Roman numerals were used, what would Super Bowl 50 have been called?',
  'id': '56beace93aeaaa14008c91e2'},
 {'answers': [{'answer_start': 116, 'text': '2015'},
   {'answer_start': 112, 'text': 'the 2015 season'},
   {'answer_start': 116, 'text': '2015'}],
  'question': 'Super Bowl 50 decided the NFL champion for what season?',
  'id': '56beace93aeaaa14008c91e3'},
 {'answers': [{'answer_start': 116, 'text': '2015'},
   {'answer_start': 346, 'text': '2016'},
   {'answer_start': 116, 'text': '2015'}],
  'question': 'What year did the Denver Broncos secure a Super Bowl title for the third time?',
  'id': '56bf10f43aeaaa14008c94fd'},
 {'answers': [{'answer_start': 403, 'text': 'Santa Clara'},
   {'answer_start': 403, 'text': 'Santa Clara'},
   {'answer_start': 403, 'text': 'Santa Clara'}],
  'question': 'What city did Super Bowl 50 take place in?',
  'id': '56bf10f43aeaaa14008c94fe'},
 {'answers': [{'answer_start': 355, 'text': "Levi's Stadium"},
   {'answer_start': 355, 'text': "Levi's Stadium"},
   {'answer_start': 355, 'text': "Levi's Stadium"}],
  'question': 'What stadium did Super Bowl 50 take place in?',
  'id': '56bf10f43aeaaa14008c94ff'},
 {'answers': [{'answer_start': 267, 'text': '24–10'},
   {'answer_start': 267, 'text': '24–10'},
   {'answer_start': 267, 'text': '24–10'}],
  'question': 'What was the final score of Super Bowl 50? ',
  'id': '56bf10f43aeaaa14008c9500'},
 {'answers': [{'answer_start': 334, 'text': 'February 7, 2016'},
   {'answer_start': 334, 'text': 'February 7, 2016'},
   {'answer_start': 334, 'text': 'February 7, 2016'}],
  'question': 'What month, day and year did Super Bowl 50 take place? ',
  'id': '56bf10f43aeaaa14008c9501'},
 {'answers': [{'answer_start': 116, 'text': '2015'},
   {'answer_start': 346, 'text': '2016'},
   {'answer_start': 346, 'text': '2016'}],
  'question': 'What year was Super Bowl 50?',
  'id': '56d20362e7d4791d009025e8'},
 {'answers': [{'answer_start': 177, 'text': 'Denver Broncos'},
   {'answer_start': 177, 'text': 'Denver Broncos'},
   {'answer_start': 177, 'text': 'Denver Broncos'}],
  'question': 'What team was the AFC champion?',
  'id': '56d20362e7d4791d009025e9'},
 {'answers': [{'answer_start': 249, 'text': 'Carolina Panthers'},
   {'answer_start': 249, 'text': 'Carolina Panthers'},
   {'answer_start': 249, 'text': 'Carolina Panthers'}],
  'question': 'What team was the NFC champion?',
  'id': '56d20362e7d4791d009025ea'},
 {'answers': [{'answer_start': 177, 'text': 'Denver Broncos'},
   {'answer_start': 177, 'text': 'Denver Broncos'},
   {'answer_start': 177, 'text': 'Denver Broncos'}],
  'question': 'Who won Super Bowl 50?',
  'id': '56d20362e7d4791d009025eb'},
 {'answers': [{'answer_start': 116, 'text': '2015'},
   {'answer_start': 112, 'text': 'the 2015 season'},
   {'answer_start': 116, 'text': '2015'}],
  'question': 'Super Bowl 50 determined the NFL champion for what season?',
  'id': '56d600e31c85041400946eae'},
 {'answers': [{'answer_start': 177, 'text': 'Denver Broncos'},
   {'answer_start': 177, 'text': 'Denver Broncos'},
   {'answer_start': 177, 'text': 'Denver Broncos'}],
  'question': 'Which team won Super Bowl 50.',
  'id': '56d600e31c85041400946eb0'},
 {'answers': [{'answer_start': 403, 'text': 'Santa Clara, California.'},
   {'answer_start': 355, 'text': "Levi's Stadium"},
   {'answer_start': 355, 'text': "Levi's Stadium"}],
  'question': 'Where was Super Bowl 50 held?',
  'id': '56d600e31c85041400946eb1'},
 {'answers': [{'answer_start': 0, 'text': 'Super Bowl'},
   {'answer_start': 0, 'text': 'Super Bowl'},
   {'answer_start': 0, 'text': 'Super Bowl'}],
  'question': 'The name of the NFL championship game is?',
  'id': '56d9895ddc89441400fdb50e'},
 {'answers': [{'answer_start': 177, 'text': 'Denver Broncos'},
   {'answer_start': 177, 'text': 'Denver Broncos'},
   {'answer_start': 177, 'text': 'Denver Broncos'}],
  'question': 'What 2015 NFL team one the AFC playoff?',
  'id': '56d9895ddc89441400fdb510'}]

In [21]:
[q['question'] for q in dev['data'][0]['paragraphs'][0]['qas']]

['Which NFL team represented the AFC at Super Bowl 50?',
 'Which NFL team represented the NFC at Super Bowl 50?',
 'Where did Super Bowl 50 take place?',
 'Which NFL team won Super Bowl 50?',
 'What color was used to emphasize the 50th anniversary of the Super Bowl?',
 'What was the theme of Super Bowl 50?',
 'What day was the game played on?',
 'What is the AFC short for?',
 'What was the theme of Super Bowl 50?',
 'What does AFC stand for?',
 'What day was the Super Bowl played on?',
 'Who won Super Bowl 50?',
 'What venue did Super Bowl 50 take place in?',
 'What city did Super Bowl 50 take place in?',
 'If Roman numerals were used, what would Super Bowl 50 have been called?',
 'Super Bowl 50 decided the NFL champion for what season?',
 'What year did the Denver Broncos secure a Super Bowl title for the third time?',
 'What city did Super Bowl 50 take place in?',
 'What stadium did Super Bowl 50 take place in?',
 'What was the final score of Super Bowl 50? ',
 'What month, day and year did Super Bowl 50 take place? ',
 'What year was Super Bowl 50?',
 'What team was the AFC champion?',
 'What team was the NFC champion?',
 'Who won Super Bowl 50?',
 'Super Bowl 50 determined the NFL champion for what season?',
 'Which team won Super Bowl 50.',
 'Where was Super Bowl 50 held?',
 'The name of the NFL championship game is?',
 'What 2015 NFL team one the AFC playoff?']

In [22]:
len(dev['data'][0]['paragraphs'][0]['qas'])

30

# Please note that test set is hidden -> no data for it